aclocal.m4
autom4te.cache
build-stamp
config.guess
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install-sh
libdvbsi++.pc
libtool
ltmain.sh
Makefile
Makefile.in
missing
*.tar.bz2
*.tar.gz
