aclocal.m4
autom4te.cache
build-stamp
config.guess
config.log
config.status
config.sub
configure
configure-stamp
depcomp
INSTALL
install-sh
libdvbsi++.pc
libdvbsi++-config.h*
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
*.tar.bz2*
*.tar.gz*
